<div class="short-form">
  <form class="pure-form pure-form-stacked" name="short-contact-form" netlify-honeypot="spam-field" action="thank-you"
    netlify>
    <fieldset>
      <legend>
        <h4 class="title-contact">How Can We Help You?</h4>
      </legend>

      <input name="spam-field" type="text">
      <label for="name">
        <b>Name
          <span style="color: red;">*</span>
        </b>
      </label>
      <input id="name" name="name" type="text" class="pure-input-1" required>

      </br>
      <label for="email">
        <b>Email Address
          <span style="color: red;">*</span>
        </b>
      </label>
      <input id="email" name="email" type="email" class="pure-input-1" required>

      </br>
      <label for="phone">Phone</label>
      <input id="phone" name="phone" type="tel" class="pure-input-1">

      </br>
      <label for="issueDescription">Brief description of your legal issue</label>
      <textarea id="issueDescription" name="issueDescription" rows="4" class="pure-input-1"></textarea>

      </br>
      <label for="disclaimer" class="pure-checkbox">
        <input id="disclaimer" name="disclaimer" type="checkbox" required>
        <b>I have read the
          <a class="intakeFormShortDisclaimerLink" href="Disclaimer.html">disclaimer</a>.
          <a href="Privacy-Policy.html"> Privacy Policy</a>
        </b>
      </label>

    </fieldset>
    <button type="submit" class="pure-button pure-button-primary">Send</button>
  </form>
</div>