<div class="header-wrap">
  <header class="header-page">
    <a href="index.html" class="brand">
      <img src="/assets/images/brand.png" alt="Gregg M. Corwin &amp; Associate Law Office, P.C." class="brand-image" />
    </a>
    <div class="cta-nav">
      <div class="cta">
        <!-- <a href="/Contact.shtml"><img src="/assets/images/email.gif" class="over" alt="Email"/></a> -->
        <img src="/assets/images/cta.png" alt="CTA" /> Call Us Today:
        <span class="touchTel">952-544-7774
        </span>
      </div>
      <div class="mob-btn-wrap">
        <a href="#" class="btn-nav-main btn-togglebox" data-target="nav-main">
          <span> </span>Menu
        </a>
        <a href="Contact.html" class="btn-contact">Contact</a>
      </div>
      <nav id="nav-main" class="nav-main" data-bp="650" role="navigation">
        <ul>
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="Firm-Overview.html">Firm Overview</a>
          </li>
          <li>
            <a href="Attorney-Profiles/index.html">Attorney Profiles</a>
          </li>
          <li class="itemLast">
            <a href="Contact.html">Contact</a>
          </li>
          <li class="togglebox-close">
            <a href="#" class="close" data-target="nav-main">X Close</a>
          </li>
        </ul>
      </nav>
      <div class="search-wrap">
        <div id="containerSearchFormDesign">
          <form action="" method="get" class="formAutoFill" name="searchFormDesign" id="searchFormDesign">
            <label for="searchFormDesignSearchTerms">Search</label>
            <input name="stext" type="text" id="searchFormDesignSearchTerms" title="Search our site" />
            <input type="image" src="/assets/images/searchFormDesignSubmit.png" id="searchFormDesignSubmit" alt="Search"
              class="over search-submit" name="searchFormDesignSubmit" />
          </form>
        </div>
      </div>
      <div class="practice-mobile" data-set="practice-area"> </div>
    </div>
  </header>
</div>