<div class="badges-wrap">
  <div class="container-badges">
    <h4 class="badges-title">A Reputation For Excellence</h4>
    <ul class="badges">
      <li>
        <img src="/assets/images/American-AFL.png" alt="American Federation of Labor | Congress of Industrial Organizations" />
      </li>
      <li>
        <img src="/assets/images/ABA.png" alt="ABA | Section of Labor and Employment law" />
      </li>
      <li>
        <img src="/assets/images/MSBA.png" alt="MSBA" />
      </li>
      <li class="itemLast">
        <img src="/assets/images/ABA-2.png" alt="American Bar Association" />
      </li>
    </ul>
  </div>
</div>