<div class="practice-desktop" data-set="practice-area">
  <div class="practice-container">
    <a href="#" class="btn-nav-practice btn-togglebox" data-target="nav-practice">
      <span> </span>View Our Practice Areas
    </a>
    <nav id="nav-practice" class="nav-practice" data-bp="730" role="navigation">
      <h4 class="title-practice">Areas of
        <strong>Practice</strong>
      </h4>
      <!-- <div id="indexPractice-Areas" fsp="design"></div> -->
      <ul class="fl-list list-level-1">
        <li class="fl-list-item list-item-level-1">
          <a href="Practice-Areas/Labor-Law.html" class="fl-list-link list-link-level-1">Labor Law</a>
        </li>
        <!-- -->
        <li class="fl-list-item list-item-level-1 has-child">
          <a href="Practice-Areas/Employment-Law/index.html" class="fl-list-link list-link-level-1">Employment
            Law</a>
        </li>
        <li>
          <a href="Practice-Areas/Employment-Law/Employment-Agreements.html">Employment Agreements</a>
        </li>
        <li>
          <a href="Practice-Areas/Employment-Law/Discrimination.html">Discrimination</a>
        </li>
        <li>
          <a href="Practice-Areas/Employment-Law/Sexual-Harassment.html">Sexual Harassment</a>
        </li>
        <li>
          <a href="Practice-Areas/Employment-Law/Sexual-Orientation-Discrimination-in-the-Workplace.html">Sexual
            Orientation Discrimination in the Workplace</a>
        </li>
        <li class="fl-list-item list-item-level-1">
          <a href="Practice-Areas/Employee-Privacy-Issues.html" class="fl-list-link list-link-level-1">Employee
            Privacy Issues</a>
        </li>
        <li class="fl-list-item list-item-level-1">
          <a href="Practice-Areas/Professional-Licensing.html" class="fl-list-link list-link-level-1">Professional
            Licensing</a>
        </li>
        <li class="fl-list-item list-item-level-1 itemLast last-child">
          <a href="Practice-Areas/Veterans-Employment-Issues.html" class="fl-list-link list-link-level-1">Veterans
            Employment Issues</a>
        </li>
        <li class="fl-list-item list-item-level-1">
          <a href="Practice-Areas/Federal-Employment-Issues.html" class="fl-list-link list-link-level-1">Federal
            Employment Issues</a>
        </li>
        <li class="fl-list-item list-item-level-1 itemFirst first-child">
          <a href="Practice-Areas/Airline-Employees.html" class="fl-list-link list-link-level-1">Airline
            Employees</a>
        </li>
        <li class="fl-list-item list-item-level-1">
          <a href="Practice-Areas/Education-Law.html" class="fl-list-link list-link-level-1">Education Law</a>
        </li>
        <li class="fl-list-item list-item-level-1">
          <a href="Practice-Areas/Arbitration-Mediation.html" class="fl-list-link list-link-level-1">Arbitration
            &amp; Mediation</a>
        </li>
        <li class="togglebox-close">
          <a href="#" class="close" data-target="nav-practice">X Close</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<a class="articles" href="Articles/index.html">
  <img src="/assets/images/articles.png" alt="Articles" />Articles
</a>