<div class="video-wrap">
  <div class="container-video">
    <div class="legal">
      <h4>See Our Dedication To
        <span> Legal Excellence In Action</span>
      </h4>
      <p>At Gregg M. Corwin &amp; Associate Law Office, protecting your work is our calling. With every case our
        attorneys
        leverage our combined experience to develop a robust legal strategy and provide the best outcome for our
        clients.</p>
    </div>
    <div style="margin-top: 42px; float: right;">
      <iframe width="430" height="315" src="https://www.youtube.com/embed/5f8C3MxZiw0?rel=0&amp;showinfo=0" frameborder="0"
        gesture="media" allowfullscreen></iframe>
    </div>
  </div>
</div>